body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-size: $body-font-size;
    font-family: $font-family;
}

iframe {
    border: none;
}

a,
b,
div,
ul,
li {
    -moz-outline-: none;
}

a:focus,
a:active,
input,
input:hover,
input:focus,
input:active {
    -moz-outline: none;
    outline: none;
}

img:not([draggable]),
embed,
object,
video {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    outline: 0;
}

a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
    outline: 0;
}

img {
    border: none;
    max-width: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none
}

.clear-both:before,
.clear-both:after {
    display: table;
    content: "";
    clear: both;
}

html {
    scroll-behavior: smooth;
}

.btn-primary {
    color: $white;
    border-radius: 6px;
    border: 2px solid $soft-blue;
    background-color: $soft-blue;
    padding: 17px 23px;
    font-weight: 500;
    font-size: 14px;
    transition: $transition;

    &:hover {
        color: $soft-blue;
        border-color: $soft-blue;
        background-color: transparent;
    }


}

.btn-secondary {
    color: $very-dark-blue;
    border-radius: 6px;
    border: 2px solid $very-dark-blue;
    background-color: transparent;
    padding: 17px 23px;
    font-weight: 500;
    font-size: 14px;
    transition: $transition;

    &:hover {
        color: $soft-blue;
        border-color: $soft-blue;
        background-color: transparent;
    }
}

p {
    font-size: $body-font-size;
    color: $grayish-blue;
}

// Social Media Buttons
.social-wrapper {
    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        &__item {
            margin-right: 36px;


            &:last-child {
                margin-right: 0;
            }
        }

        &__link {
            color: $white;
            transition: $transition;

            &:hover {
                color: $soft-red;
            }
        }
    }

}

.section-title {
    font-size: 32px;
    font-weight: 500;
    color: $very-dark-blue;
    text-align: center;
    margin-bottom: 23px;
}

.section-subtitle {
    text-align: center;
    max-width: 547px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.card,
.card-body,
.card-footer {
    padding: unset;
    border: unset;
}