.newsletter {
    background-color: $soft-blue;
    padding-top: 70px;
    padding-bottom: 76px;
    text-align: center;

    .container {
        max-width: 450px;
    }

    &__sub-heading {
        color: $white;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 32px;
    }

    .section-title {
        color: $white;
    }

    .subscribe-form {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;

        .form-group {
            flex-grow: 1;
            margin-right: 14px;
            position: relative;


            .form-control {
                padding: 16px;
                color: $very-dark-blue;
                font-weight: 500;
                transition: $transition;
                border: 2px solid $white;
                position: relative;

                &::placeholder {
                    color: $very-dark-blue;
                }

                &:focus {
                    border: 2px solid $soft-red;
                }



                &::before {
                    // content: 'f06a';
                    // font-family: 'Font Awesome 6 Free';
                    content: '';
                    position: absolute;
                    background-color: red;
                    width: 10px;
                    height: 10px;
                    right: 0;
                    z-index: 999;
                }
            }

            .error {
                border: 2px solid $soft-red;
            }

            .success {
                border: 2px solid $very-dark-blue;
            }
        }

        .subs-btn {
            background-color: $soft-red;
            border-radius: 4px;
            color: $white;
            border: 2px solid $soft-red;
            padding: 12px 32px;
            margin-left: 17px;
            font-weight: 500;
            transition: $transition;

            &:hover {
                color: $soft-red;
                border: 2px solid $soft-red;
                background-color: $white;
            }
        }

        .error-msg,
        .success-msg {
            background-color: $soft-red;
            width: 100%;
            position: absolute;
            left: 0;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            bottom: -34px;
            padding: 8px 13px;
            color: $white;
            font-size: 14px;
            text-align: left;
        }

        .success-msg {
            background-color: $very-dark-blue;
        }

    }
}