@media screen and (max-width: 425px) {

    // Global
    .mobile-primary-btn,
    .mobile-secondary-btn {
        color: $white;
        border-radius: 6px;
        border: 2px solid $soft-blue;
        background-color: $soft-blue;
        padding: 17px 16px;
        font-weight: 500;
        font-size: 14px;
        transition: $transition;

        &:hover {
            color: $soft-blue;
            border-color: $soft-blue;
            background-color: transparent;
        }
    }

    .mobile-secondary-btn {
        color: $very-dark-blue;
        border: 2px solid #F7F7F7;
        background-color: #F7F7F7;

        &:hover {
            color: $soft-blue;
            border-color: $soft-blue;
            background-color: transparent;
        }
    }

    // Header section
    header {
        padding-top: 40px;
        padding-bottom: 78px;

        .menu-toggle,
        .closebtn {
            display: block;
        }


        .main-nav-container {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            left: -75px;
            top: 0;
            background-color: $mobile-menu-bg;
            overflow-x: hidden;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            padding: 37px 30px;


            .logo-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .site-logo {
                    display: block;
                }
            }

            .nav-menus-wrapper {
                position: relative;
                top: 25%;
                width: 100%;
                text-align: center;
                margin-top: 30px;
            }

            .main-navigation {
                float: unset;

                .nav-menus-wrapper {
                    .nav-menu {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;

                        .menu-item {
                            width: 100%;
                            border-top: 1px solid $white;

                            .nav-link {
                                color: $white;

                                padding: 23px 0px;

                                &:hover {
                                    color: $soft-red;
                                }

                                &:not(:last-child) {
                                    margin-right: 45px;
                                }
                            }

                            &:last-child {
                                .nav-link {
                                    background-color: transparent;
                                    color: $white;
                                    border: 2px solid $white;
                                    width: 100%;
                                    margin-left: 0px;
                                    margin-top: 27px;

                                    &:hover {
                                        color: $white;
                                        background-color: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .social-wrapper {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 50px;
            }
        }
    }

    .hero-section {
        h1 {
            text-align: center;
            font-size: 30px;
        }

        p {
            text-align: center;
        }
    }

    .feature-section {
        .features-tabs {
            .nav-tabs {
                border: unset;

                .nav-link {
                    width: 100%;
                    text-align: center;
                    border-top: 2px solid $border-color;

                    &:hover {
                        border-top: 2px solid $border-color;
                    }
                }

                &:last-child {
                    border-bottom: 2px solid $border-color;
                }

                .active {
                    &::before {
                        max-width: 145px;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        .tab-content {
            .padding-left {
                padding-left: 15px;
            }

            .section-title,
            p {
                text-align: center;
            }

            .btn-primary {
                display: none;
            }

        }
    }

    .extenstion-section {
        padding-bottom: 140px;
        padding-top: 30px;
    }

    .faq-section {
        padding-bottom: 120px;
    }

    .newsletter {
        .subscribe-form {
            .form-group {
                margin-right: 0px;
                margin-bottom: 45px;
            }

            .subs-btn {
                width: 100%;
                margin-left: 0px;
            }
        }
    }

    footer {

        .social-wrapper,
        .footer-navigation,
        .footer-logo {
            float: unset;
        }

        .footer-logo {
            display: flex;
            justify-content: center;
            margin-right: 0px;
            margin-bottom: 40px;

        }

        .footer-navigation {


            .footer-menu {
                flex-direction: column;
                align-items: center;

                .menu-item {
                    &:not(last-child) {
                        margin-right: 0px !important;
                        margin-bottom: 15px;
                    }
                }
            }
        }

        .social-wrapper {
            margin-top: 20px;
        }


    }
}