@media screen and (max-width: 375px) {

    // Header section
    header {
        padding-top: 40px;
        padding-bottom: 78px;

        .menu-toggle,
        .closebtn {
            display: block;
        }


        .main-nav-container {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            left: -75px;
            top: 0;
            background-color: $mobile-menu-bg;
            overflow-x: hidden;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            padding: 37px 30px;


            .logo-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .site-logo {
                    display: block;
                }
            }

            .nav-menus-wrapper {
                position: relative;
                top: 25%;
                width: 100%;
                text-align: center;
                margin-top: 30px;
            }

            .main-navigation {
                float: unset;

                .nav-menus-wrapper {
                    .nav-menu {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;

                        .menu-item {
                            width: 100%;
                            border-top: 1px solid $white;

                            .nav-link {
                                color: $white;

                                padding: 23px 0px;

                                &:hover {
                                    color: $soft-red;
                                }

                                &:not(:last-child) {
                                    margin-right: 45px;
                                }
                            }

                            &:last-child {
                                .nav-link {
                                    background-color: transparent;
                                    color: $white;
                                    border: 2px solid $white;
                                    width: 100%;
                                    margin-left: 0px;
                                    margin-top: 27px;

                                    &:hover {
                                        color: $white;
                                        background-color: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .social-wrapper {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 50px;
            }
        }
    }
}