// Color
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

$mobile-menu-bg: #2F354F;

$white: hsl(0, 0%, 100%);

// Font Size
$body-font-size: 18px;

// Font Family
$font-family: 'Rubik',
sans-serif;

// Box shadow
$box-shadow: 0px 16px 10px 0px #EAEAF4;

// Transition
$transition: all 0.4s ease-in-out;

// Border color
$border-color : #F0EFF4;